main.booking-confirmation-main {
  height: 75vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


main.booking-confirmation-main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


main.booking-confirmation-main p {
  color: var(--green);
  font-size: 1.25rem;
  font-weight: bold;
}



main.booking-confirmation-main button {
  background-color: var(--yellow);
  color: black;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}